html, body {
    font-size: 18px;
}

body {
    font-family: 'Bree Serif', Helvetica, Arial, sans-serif;
    width: 100%;
    padding-top: 3em;
    font-weight: 300;
}

h1 {
    font-weight: 200;
    font-size: 2.6em;
    line-height: 1.6em;
}

h2 {
    text-align: center;
}

table {
    margin: 2.5em 0;
    font-size: 1.4em;
}

a, a:active, a:focus {
    color: #888;
    text-decoration: underline;
}

a:hover {
    color: #EEE;
    text-decoration: none;
}

a.btn {
    color: #FFF;
    text-decoration: none;
    font-size: .9em;
}
